<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Question</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
score : {{ score }}
skip  : {{ skip  }}
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="jumpborton" style="margin-top:20%">
            <form action="/submit" method="post">{% csrf_token %}
                <legend>Question</legend>
                <fieldset>

                    {{ item.question }}<br>

                      <div>
                    <input type="radio" name="rb" value="a"> {{ item.optiona }}<br>
                    <input type="radio" name="rb" value="b"> {{ item.optionb }}<br>
                    <input type="radio" name="rb" value="c"> {{ item.optionc }}<br>
                    <input type="radio" name="rb" value="d"> {{ item.optiond }}<br>
                      </div>
                        <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control" name="submit">Submit</button>
                         </div>
                </fieldset>

            </form>
                   <form action="/skip" method="post">
                    {% csrf_token %}
                    <div>
                <button type="submit" class="btn btn-primary form-control" name="harmonic" >Skip</button>
                    </div>
                </form>
                <div>
                <button type="button" class="btn btn-primary form-control" data-toggle="modal" data-target="#myModal">Harmonic</button>
                </div>
                    <div>
                <form action="/logout" method="post">
                    <div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary form-control" name="logout" >logout</button>
                    </div>
                </form>
                    </div>
             </div>
               </div>
        <div  class="col-md-4"></div>

    <div class="modal fade" id="myModal" role="dialog">
     <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

          <form action="/harmonics" method="post">
              <legend>Question</legend>
              {% csrf_token %}
        <div class="modal-body">
           <input type="text" class="form-control" placeholder="Enter No of Question" name="harmo" required>
        </div>
        <div class="modal-footer">
           <button type="submit" class="btn btn-primary form-control" name="submit" >submit</button>
        </div>
          </form>
      </div>

        </div>
        </div>

    </div>

</div>
</body>
</html>
