<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">


        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="jumpborton" style="margin-top:20%">
            <form action="/question" method="post">{% csrf_token %}
                <legend>Login</legend>
                <fieldset>

                    {{ item.question }}<br>
                  <form action="">
                    <input type="radio" name="rb" value="optiona"> {{ item.optiona }}<br>
                    <input type="radio" name="rb" value="optionb"> {{ item.optionb }}<br>
                    <input type="radio" name="rb" value="ootionc"> {{ item.optionc }}<br>
                    <input type="radio" name="rb" value="optiond"> {{ item.optiond }}<br>

                        <div class="form-group">
                    <button type="submit" class="btn btn-primary form-control">Login</button>
                </div>
                </fieldset>
            </form>
                <a href="">Don't Have An Acoount yet ?</a>
             </div>
               </div>
        <div  class="col-md-4"></div>


 </div>

</div>
</body>
</html>
